/* line 8, ../sass/index.scss */
.x-tabpanel > .x-panel-body .x-panel {
  -webkit-backface-visibility: hidden;
}

/* line 12, ../sass/index.scss */
body {
  background-color: #fffaed;
  color: #879ac9;
}

/* line 16, ../sass/index.scss */
.x-tabpanel > .x-panel-body .x-panel-body {
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
  padding: 16px;
  background: #fffaed;
}

/* line 22, ../sass/index.scss */
.x-list {
  background: #fffaed;
  color: #879ac9;
}

/* line 29, ../sass/index.scss */
.x-tab img.work, .x-button img.x-icon-mask.work {
  -webkit-mask-image: url("../img/178-city.png");
}

/* line 33, ../sass/index.scss */
.x-tab img.school, .x-button img.x-icon-mask.school {
  -webkit-mask-image: url("../img/140-gradhat.png");
}

/* line 37, ../sass/index.scss */
.x-tab img.wrench, .x-button img.x-icon-mask.wrench {
  -webkit-mask-image: url("../img/157-wrench.png");
}

/* line 41, ../sass/index.scss */
.x-tab img.chat, .x-button img.x-icon-mask.chat {
  -webkit-mask-image: url("../img/08-chat.png");
}

/* line 46, ../sass/index.scss */
h1 {
  text-align: center;
  color: #242942;
  font-size: 36px;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 12px;
}

/* line 55, ../sass/index.scss */
A, A:visited {
  color: #ff8800;
  text-decoration: none;
}

/* line 60, ../sass/index.scss */
.contact {
  text-align: right;
  margin-top: 10px;
}
/* line 63, ../sass/index.scss */
.contact DIV {
  padding-right: 18px;
}
/* line 66, ../sass/index.scss */
.contact .phone {
  background: url("../img/phone.png") 100% 2px no-repeat;
}
/* line 69, ../sass/index.scss */
.contact .email {
  background: url("../img/email.png") 100% 2px no-repeat;
}
/* line 72, ../sass/index.scss */
.contact .twitter {
  background: url("../img/twitter.png") 100% 2px no-repeat;
}
/* line 75, ../sass/index.scss */
.contact .github {
  background: url("../img/github.png") 100% 2px no-repeat;
}

/* line 80, ../sass/index.scss */
DL.objective {
  margin-top: 20%;
  text-align: center;
}
/* line 83, ../sass/index.scss */
DL.objective DT {
  font-weight: bold;
  display: block;
  color: #242942;
}
/* line 89, ../sass/index.scss */
DL.objective DD {
  font-size: 14px;
  padding: 15px;
}

/* line 98, ../sass/index.scss */
.experience .x-list-item-body SPAN.title {
  font-weight: bold;
}
/* line 102, ../sass/index.scss */
.experience .x-list-item-body SPAN.company {
  display: block;
  font-size: 12px;
}

/* line 109, ../sass/index.scss */
.education {
  margin-top: 30%;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #ff8800;
  text-align: center;
  color: #242942;
}
/* line 116, ../sass/index.scss */
.education .degree {
  font-weight: bold;
  font-size: 22px;
}
/* line 121, ../sass/index.scss */
.education .institution {
  font-size: 16px;
}
/* line 125, ../sass/index.scss */
.education .location {
  margin-top: 6px;
  color: #d4dbff;
  font-size: 16px;
}

/* line 132, ../sass/index.scss */
.skills {
  background: #fffaed;
  padding-top: 8px;
  padding-left: 12px;
  height: 100%;
}
/* line 137, ../sass/index.scss */
.skills .skill {
  float: left;
  font-size: 10px;
  color: #242942;
  width: 64px;
  height: 76px;
  margin: 0px 12px 24px 12px;
}
/* line 144, ../sass/index.scss */
.skills .skill IMG {
  max-height: 64px;
  max-width: 64px;
}
/* line 148, ../sass/index.scss */
.skills .skill SPAN {
  width: 64px;
  text-align: center;
  display: block;
  white-space: nowrap;
}

/* line 157, ../sass/index.scss */
#splash {
  padding-top: 32px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/phone_startup.png") no-repeat 0 0;
  z-index: 1000;
  font-size: 24px;
  text-align: center;
}
